<!--
 * @author: liuhy
 * @Date: 2021-07-21 13:55:07
 * @LastEditTime: 2021-07-23 13:55:19
-->
<!doctype html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>官网首页模板</title>
</head>

<body>
  <div id="root"></div>
  <script
    type="text/javascript">document.write(unescape("%3Cspan id='cnzz_stat_icon_1254557108'%3E%3C/span%3E%3Cscript src='https://s4.cnzz.com/z_stat.php%3Fid%3D1254557108%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
</body>

</html>